.ResultInput {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  padding: 6px;
}

.ResultInput ons-button {
  font-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50% - 12px);
  margin: 6px;
}
